<div  class="container-fluid">
  <nav class="navbar navbar-expand bg-dark navbar-dark">
    <a href="#" class="navbar-brand"><b>School Constructor</b></a>
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a routerLink="instructors" class="nav-link" class="btn btn-primary active" role="button" >View Instructor</a>
      </li>
      <a class="nav-divider">|</a>
      <li class="nav-item">
        <a  routerLink="students" class="nav-link" class="btn btn-primary active" role="button" >View Student</a>
      </li>
      <a class="nav-divider">|</a>
      <li class="nav-item">
        <a  routerLink="courses" class="nav-link" class="btn btn-primary active" role="button" >View Course</a>
      </li>
      <a class="nav-divider">|</a>
      <li class="nav-item">
        <a  routerLink="addinstructor" class="nav-link" class="btn btn-primary active" role="button" >Add Instructor</a>
      </li>
      <a class="nav-divider">|</a>
      <li class="nav-item">
        <a  routerLink="addstudent" class="nav-link" class="btn btn-primary active" role="button" >Add Student</a>
      </li>
      <a class="nav-divider">|</a>
      <li class="nav-item">
        <a  routerLink="addcourse" class="nav-link" class="btn btn-primary active" role="button" >Add Course</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
