<div class="list row">
  <div class="col-md-8 container-fluid">
    <div class="input-group mb-4 ">
      <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchName"/>
        <button class="btn btn-secondary container-fluid" type="button" (click)="searchByName(searchName)">
          Search
        </button>
    </div>
  </div>
  <div class="panel-body container table-bordered table-striped">
    <h4>Instructor List</h4>

    <table class="table table-hover table-sm table-bordered">
      <thead class="thread-light">
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Title</th>
        <th scope="col">Phone#</th>
        <th scope="col" style="min-width: 150px;">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let instructor of instructors;">
        <td>{{instructor.employeeID}}</td>
        <td>{{instructor.lastName}}</td>
        <td>{{instructor.firstName}}</td>
        <td>{{instructor.gender}}</td>
        <td>{{instructor.title}}</td>
        <td>{{instructor.phoneNumber}}</td>
        <td>
          <button type="button" class="btn btn-primary mr-1" routerLink="/instructors/{{instructor.employeeID}}">Edit</button>

          <button type="button" class="btn btn-danger" (click)="deleteInstructor(instructor.employeeID)">Delete</button>

        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
