
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="lastName">last name</label>
        <input type="text" [(ngModel)]="instructor.lastName"
               class="form-control"
               id="lastName"
               name="lastName"
               placeholder="Enter your last name"
               required #lastName="ngModel">
      </div>
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
        <div *ngIf="lastName.errors?.['required']">last name is required.</div>
      </div>
      <div class="form-group">
        <label for="firstName">first name</label>
        <input type="text" [(ngModel)]="instructor.firstName"
               class="form-control"
               id="firstName"
               name="firstName"
               placeholder="Enter your first name"
               required #firstName="ngModel">
      </div>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        <div *ngIf="firstName.errors?.['required']">first name is required.</div>
      </div>
      <div class="form-group">
        <label for="gender">gender</label>
        <input type="text" [(ngModel)]="instructor.gender"
               class="form-control"
               id="gender"
               name="gender"
               placeholder="Enter your gender"
               required #gender="ngModel">
      </div>
      <div class="form-group">
        <label for="phoneNumber">phoneNumber</label>
        <input type="text" [(ngModel)]="instructor.phoneNumber"
               class="form-control"
               id="phoneNumber"
               name="phoneNumber"
               placeholder="Enter your phone number"
               required #phoneNumber="ngModel">
      </div>
      <div class="form-group">
        <label for="employeeID">employeeID</label>
        <input type="text" [(ngModel)]="instructor.employeeID"
               class="form-control"
               id="employeeID"
               name="employeeID"
               placeholder="Enter your employeeID"
               required #employeeID="ngModel">
      </div>
      <div *ngIf="employeeID.invalid && (employeeID.dirty || employeeID.touched)" class="alert alert-danger">
        <div *ngIf="employeeID.errors?.['required']">employee ID is required.</div>
      </div>
      <div class="form-group">
        <label for="title">title</label>
        <select id="title" name="title">
          <option value="Assistant_professor">Assistant professor</option>
          <option value="Associate_professor">Associate professor</option>
          <option value="professor">Professor</option>
        </select>
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Submit
      </button>
    </form>
  </div>
</div>
