<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-4">
      <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchName" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchByName()">
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h4>Instructor List</h4>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Title</th>
        <th scope="col">Phone#</th>
        <th scope="col" style="min-width: 150px;">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let instructor of instructors;">
        <th scope="row">{{instructor.employeeID}}</th>
        <td>{{instructor.lastName}}</td>
        <td>{{instructor.firstName}}</td>
        <td>{{instructor.gender}}</td>
        <td>{{instructor.title}}</td>
        <td>{{instructor.phoneNumber}}</td>
        <td>
          <button type="button" class="btn btn-danger" routerLink="/book/{{instructor.employeeID}}">Edit</button>
          <button type="button" class="btn btn-warning" (click)="deleteInstructor(instructor.employeeID)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
